@media screen and (min-width: 1000px){
	.newsItem{
		width: 25%;
	}
}

@media screen and (min-width: 600px){
	.resizing_one{
		flex-direction: row;
	}

	.resizing_two{
		display: flex;
		flex-direction: column;
	}
}

@media screen and (min-width: 600px) and (max-width:999px){
	.newsItem{
		width: 50%;
	}
}