@font-face{
	font-family: opensans;
	src: url(../../assets/fonts/OpenSans-Light.ttf);
}

html{
	background: black; 
}

body, a{
	color: white;
	font-size: 1rem;
	font-family: opensans;
	text-decoration: none;
}

header{
	height: 85%;
	&.minified{
		height: 15rem;
		img{
			width: 7rem;
		}
	}
}

#dropdown{
	font-size: .9rem;
	width: 7rem;
	z-index: 1;
}

.newsItem{
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	display: flex;
	align-items: flex-end;
}

.abstract{
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
	line-height: 200%;
	padding: .5rem;
	width: 100%;
}

.copyright{
	height: 6rem;
}

.margin{
	margin: 0 0 1.5rem 0;
}